.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.margin-center {
  margin-right: auto;
  margin-left: auto; }

.horizontal-menu {
  margin: 0;
  padding: 0;
  display: inline-block; }
  .horizontal-menu li {
    display: inline-block; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-reset li {
    list-style: none;
    margin: 0;
    padding: 0; }

.align-center {
  text-align: center; }

html, body {
  height: 100%;
  color: #1a1a1a;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  color: #505050; }

h1, h2 {
  text-align: center; }

h1 {
  color: #DD4242;
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  color: #dd4242; }

a {
  color: #4892CC;
  text-decoration: none; }

p {
  line-height: 3; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    padding: 0;
    margin: 0; }

input[type="text"], input[type="password"] {
  border: 1px solid;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 20px; }

label {
  margin-bottom: 10px;
  display: inline-block; }

.error {
  clear: left;
  color: red;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px; }

* {
  box-sizing: border-box; }

.row {
  width: 100%;
  display: block; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-1-2 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 50%; }
  .col-1-2:before, .col-1-2:after {
    content: " ";
    display: table; }
  .col-1-2:after {
    clear: both; }

.col-1-3 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 33.3333333333%; }
  .col-1-3:before, .col-1-3:after {
    content: " ";
    display: table; }
  .col-1-3:after {
    clear: both; }

.unit .unit:first-child {
  padding-left: 0; }
.unit .unit:last-child {
  padding-right: 0; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.col-1-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 4.16667%; }
  .col-1-24:before, .col-1-24:after {
    content: " ";
    display: table; }
  .col-1-24:after {
    clear: both; }

.col-2-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 8.33333%; }
  .col-2-24:before, .col-2-24:after {
    content: " ";
    display: table; }
  .col-2-24:after {
    clear: both; }

.col-3-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 12.5%; }
  .col-3-24:before, .col-3-24:after {
    content: " ";
    display: table; }
  .col-3-24:after {
    clear: both; }

.col-4-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 16.66667%; }
  .col-4-24:before, .col-4-24:after {
    content: " ";
    display: table; }
  .col-4-24:after {
    clear: both; }

.col-5-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 20.83333%; }
  .col-5-24:before, .col-5-24:after {
    content: " ";
    display: table; }
  .col-5-24:after {
    clear: both; }

.col-6-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 25%; }
  .col-6-24:before, .col-6-24:after {
    content: " ";
    display: table; }
  .col-6-24:after {
    clear: both; }

.col-7-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 29.16667%; }
  .col-7-24:before, .col-7-24:after {
    content: " ";
    display: table; }
  .col-7-24:after {
    clear: both; }

.col-8-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 33.33333%; }
  .col-8-24:before, .col-8-24:after {
    content: " ";
    display: table; }
  .col-8-24:after {
    clear: both; }

.col-9-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 37.5%; }
  .col-9-24:before, .col-9-24:after {
    content: " ";
    display: table; }
  .col-9-24:after {
    clear: both; }

.col-10-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 41.66667%; }
  .col-10-24:before, .col-10-24:after {
    content: " ";
    display: table; }
  .col-10-24:after {
    clear: both; }

.col-11-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 45.83333%; }
  .col-11-24:before, .col-11-24:after {
    content: " ";
    display: table; }
  .col-11-24:after {
    clear: both; }

.col-12-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 50%; }
  .col-12-24:before, .col-12-24:after {
    content: " ";
    display: table; }
  .col-12-24:after {
    clear: both; }

.col-13-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 54.16667%; }
  .col-13-24:before, .col-13-24:after {
    content: " ";
    display: table; }
  .col-13-24:after {
    clear: both; }

.col-14-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 58.33333%; }
  .col-14-24:before, .col-14-24:after {
    content: " ";
    display: table; }
  .col-14-24:after {
    clear: both; }

.col-15-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 62.5%; }
  .col-15-24:before, .col-15-24:after {
    content: " ";
    display: table; }
  .col-15-24:after {
    clear: both; }

.col-16-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 66.66667%; }
  .col-16-24:before, .col-16-24:after {
    content: " ";
    display: table; }
  .col-16-24:after {
    clear: both; }

.col-17-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 70.83333%; }
  .col-17-24:before, .col-17-24:after {
    content: " ";
    display: table; }
  .col-17-24:after {
    clear: both; }

.col-18-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 75%; }
  .col-18-24:before, .col-18-24:after {
    content: " ";
    display: table; }
  .col-18-24:after {
    clear: both; }

.col-19-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 79.16667%; }
  .col-19-24:before, .col-19-24:after {
    content: " ";
    display: table; }
  .col-19-24:after {
    clear: both; }

.col-20-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 83.33333%; }
  .col-20-24:before, .col-20-24:after {
    content: " ";
    display: table; }
  .col-20-24:after {
    clear: both; }

.col-21-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 87.5%; }
  .col-21-24:before, .col-21-24:after {
    content: " ";
    display: table; }
  .col-21-24:after {
    clear: both; }

.col-22-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 91.66667%; }
  .col-22-24:before, .col-22-24:after {
    content: " ";
    display: table; }
  .col-22-24:after {
    clear: both; }

.col-23-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 95.83333%; }
  .col-23-24:before, .col-23-24:after {
    content: " ";
    display: table; }
  .col-23-24:after {
    clear: both; }

.col-24-24 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  width: 100%; }
  .col-24-24:before, .col-24-24:after {
    content: " ";
    display: table; }
  .col-24-24:after {
    clear: both; }

.container {
  margin: 0 auto;
  width: 100%; }

@media (min-width: 768px) {
  .col-md-1-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 4.16667%; }
    .col-md-1-24:before, .col-md-1-24:after {
      content: " ";
      display: table; }
    .col-md-1-24:after {
      clear: both; }

  .col-md-2-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 8.33333%; }
    .col-md-2-24:before, .col-md-2-24:after {
      content: " ";
      display: table; }
    .col-md-2-24:after {
      clear: both; }

  .col-md-3-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 12.5%; }
    .col-md-3-24:before, .col-md-3-24:after {
      content: " ";
      display: table; }
    .col-md-3-24:after {
      clear: both; }

  .col-md-4-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 16.66667%; }
    .col-md-4-24:before, .col-md-4-24:after {
      content: " ";
      display: table; }
    .col-md-4-24:after {
      clear: both; }

  .col-md-5-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 20.83333%; }
    .col-md-5-24:before, .col-md-5-24:after {
      content: " ";
      display: table; }
    .col-md-5-24:after {
      clear: both; }

  .col-md-6-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 25%; }
    .col-md-6-24:before, .col-md-6-24:after {
      content: " ";
      display: table; }
    .col-md-6-24:after {
      clear: both; }

  .col-md-7-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 29.16667%; }
    .col-md-7-24:before, .col-md-7-24:after {
      content: " ";
      display: table; }
    .col-md-7-24:after {
      clear: both; }

  .col-md-8-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 33.33333%; }
    .col-md-8-24:before, .col-md-8-24:after {
      content: " ";
      display: table; }
    .col-md-8-24:after {
      clear: both; }

  .col-md-9-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 37.5%; }
    .col-md-9-24:before, .col-md-9-24:after {
      content: " ";
      display: table; }
    .col-md-9-24:after {
      clear: both; }

  .col-md-10-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 41.66667%; }
    .col-md-10-24:before, .col-md-10-24:after {
      content: " ";
      display: table; }
    .col-md-10-24:after {
      clear: both; }

  .col-md-11-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 45.83333%; }
    .col-md-11-24:before, .col-md-11-24:after {
      content: " ";
      display: table; }
    .col-md-11-24:after {
      clear: both; }

  .col-md-12-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 50%; }
    .col-md-12-24:before, .col-md-12-24:after {
      content: " ";
      display: table; }
    .col-md-12-24:after {
      clear: both; }

  .col-md-13-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 54.16667%; }
    .col-md-13-24:before, .col-md-13-24:after {
      content: " ";
      display: table; }
    .col-md-13-24:after {
      clear: both; }

  .col-md-14-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 58.33333%; }
    .col-md-14-24:before, .col-md-14-24:after {
      content: " ";
      display: table; }
    .col-md-14-24:after {
      clear: both; }

  .col-md-15-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 62.5%; }
    .col-md-15-24:before, .col-md-15-24:after {
      content: " ";
      display: table; }
    .col-md-15-24:after {
      clear: both; }

  .col-md-16-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 66.66667%; }
    .col-md-16-24:before, .col-md-16-24:after {
      content: " ";
      display: table; }
    .col-md-16-24:after {
      clear: both; }

  .col-md-17-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 70.83333%; }
    .col-md-17-24:before, .col-md-17-24:after {
      content: " ";
      display: table; }
    .col-md-17-24:after {
      clear: both; }

  .col-md-18-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 75%; }
    .col-md-18-24:before, .col-md-18-24:after {
      content: " ";
      display: table; }
    .col-md-18-24:after {
      clear: both; }

  .col-md-19-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 79.16667%; }
    .col-md-19-24:before, .col-md-19-24:after {
      content: " ";
      display: table; }
    .col-md-19-24:after {
      clear: both; }

  .col-md-20-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 83.33333%; }
    .col-md-20-24:before, .col-md-20-24:after {
      content: " ";
      display: table; }
    .col-md-20-24:after {
      clear: both; }

  .col-md-21-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 87.5%; }
    .col-md-21-24:before, .col-md-21-24:after {
      content: " ";
      display: table; }
    .col-md-21-24:after {
      clear: both; }

  .col-md-22-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 91.66667%; }
    .col-md-22-24:before, .col-md-22-24:after {
      content: " ";
      display: table; }
    .col-md-22-24:after {
      clear: both; }

  .col-md-23-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 95.83333%; }
    .col-md-23-24:before, .col-md-23-24:after {
      content: " ";
      display: table; }
    .col-md-23-24:after {
      clear: both; }

  .col-md-24-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 100%; }
    .col-md-24-24:before, .col-md-24-24:after {
      content: " ";
      display: table; }
    .col-md-24-24:after {
      clear: both; }

  .container {
    width: 748px; } }
@media (min-width: 992px) {
  .col-lg-1-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 4.16667%; }
    .col-lg-1-24:before, .col-lg-1-24:after {
      content: " ";
      display: table; }
    .col-lg-1-24:after {
      clear: both; }

  .col-lg-2-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 8.33333%; }
    .col-lg-2-24:before, .col-lg-2-24:after {
      content: " ";
      display: table; }
    .col-lg-2-24:after {
      clear: both; }

  .col-lg-3-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 12.5%; }
    .col-lg-3-24:before, .col-lg-3-24:after {
      content: " ";
      display: table; }
    .col-lg-3-24:after {
      clear: both; }

  .col-lg-4-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 16.66667%; }
    .col-lg-4-24:before, .col-lg-4-24:after {
      content: " ";
      display: table; }
    .col-lg-4-24:after {
      clear: both; }

  .col-lg-5-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 20.83333%; }
    .col-lg-5-24:before, .col-lg-5-24:after {
      content: " ";
      display: table; }
    .col-lg-5-24:after {
      clear: both; }

  .col-lg-6-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 25%; }
    .col-lg-6-24:before, .col-lg-6-24:after {
      content: " ";
      display: table; }
    .col-lg-6-24:after {
      clear: both; }

  .col-lg-7-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 29.16667%; }
    .col-lg-7-24:before, .col-lg-7-24:after {
      content: " ";
      display: table; }
    .col-lg-7-24:after {
      clear: both; }

  .col-lg-8-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 33.33333%; }
    .col-lg-8-24:before, .col-lg-8-24:after {
      content: " ";
      display: table; }
    .col-lg-8-24:after {
      clear: both; }

  .col-lg-9-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 37.5%; }
    .col-lg-9-24:before, .col-lg-9-24:after {
      content: " ";
      display: table; }
    .col-lg-9-24:after {
      clear: both; }

  .col-lg-10-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 41.66667%; }
    .col-lg-10-24:before, .col-lg-10-24:after {
      content: " ";
      display: table; }
    .col-lg-10-24:after {
      clear: both; }

  .col-lg-11-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 45.83333%; }
    .col-lg-11-24:before, .col-lg-11-24:after {
      content: " ";
      display: table; }
    .col-lg-11-24:after {
      clear: both; }

  .col-lg-12-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 50%; }
    .col-lg-12-24:before, .col-lg-12-24:after {
      content: " ";
      display: table; }
    .col-lg-12-24:after {
      clear: both; }

  .col-lg-13-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 54.16667%; }
    .col-lg-13-24:before, .col-lg-13-24:after {
      content: " ";
      display: table; }
    .col-lg-13-24:after {
      clear: both; }

  .col-lg-14-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 58.33333%; }
    .col-lg-14-24:before, .col-lg-14-24:after {
      content: " ";
      display: table; }
    .col-lg-14-24:after {
      clear: both; }

  .col-lg-15-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 62.5%; }
    .col-lg-15-24:before, .col-lg-15-24:after {
      content: " ";
      display: table; }
    .col-lg-15-24:after {
      clear: both; }

  .col-lg-16-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 66.66667%; }
    .col-lg-16-24:before, .col-lg-16-24:after {
      content: " ";
      display: table; }
    .col-lg-16-24:after {
      clear: both; }

  .col-lg-17-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 70.83333%; }
    .col-lg-17-24:before, .col-lg-17-24:after {
      content: " ";
      display: table; }
    .col-lg-17-24:after {
      clear: both; }

  .col-lg-18-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 75%; }
    .col-lg-18-24:before, .col-lg-18-24:after {
      content: " ";
      display: table; }
    .col-lg-18-24:after {
      clear: both; }

  .col-lg-19-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 79.16667%; }
    .col-lg-19-24:before, .col-lg-19-24:after {
      content: " ";
      display: table; }
    .col-lg-19-24:after {
      clear: both; }

  .col-lg-20-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 83.33333%; }
    .col-lg-20-24:before, .col-lg-20-24:after {
      content: " ";
      display: table; }
    .col-lg-20-24:after {
      clear: both; }

  .col-lg-21-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 87.5%; }
    .col-lg-21-24:before, .col-lg-21-24:after {
      content: " ";
      display: table; }
    .col-lg-21-24:after {
      clear: both; }

  .col-lg-22-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 91.66667%; }
    .col-lg-22-24:before, .col-lg-22-24:after {
      content: " ";
      display: table; }
    .col-lg-22-24:after {
      clear: both; }

  .col-lg-23-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 95.83333%; }
    .col-lg-23-24:before, .col-lg-23-24:after {
      content: " ";
      display: table; }
    .col-lg-23-24:after {
      clear: both; }

  .col-lg-24-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 100%; }
    .col-lg-24-24:before, .col-lg-24-24:after {
      content: " ";
      display: table; }
    .col-lg-24-24:after {
      clear: both; }

  .container {
    width: 960px; } }
@media (min-width: 1200px) {
  .col-xl-1-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 4.16667%; }
    .col-xl-1-24:before, .col-xl-1-24:after {
      content: " ";
      display: table; }
    .col-xl-1-24:after {
      clear: both; }

  .col-xl-2-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 8.33333%; }
    .col-xl-2-24:before, .col-xl-2-24:after {
      content: " ";
      display: table; }
    .col-xl-2-24:after {
      clear: both; }

  .col-xl-3-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 12.5%; }
    .col-xl-3-24:before, .col-xl-3-24:after {
      content: " ";
      display: table; }
    .col-xl-3-24:after {
      clear: both; }

  .col-xl-4-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 16.66667%; }
    .col-xl-4-24:before, .col-xl-4-24:after {
      content: " ";
      display: table; }
    .col-xl-4-24:after {
      clear: both; }

  .col-xl-5-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 20.83333%; }
    .col-xl-5-24:before, .col-xl-5-24:after {
      content: " ";
      display: table; }
    .col-xl-5-24:after {
      clear: both; }

  .col-xl-6-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 25%; }
    .col-xl-6-24:before, .col-xl-6-24:after {
      content: " ";
      display: table; }
    .col-xl-6-24:after {
      clear: both; }

  .col-xl-7-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 29.16667%; }
    .col-xl-7-24:before, .col-xl-7-24:after {
      content: " ";
      display: table; }
    .col-xl-7-24:after {
      clear: both; }

  .col-xl-8-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 33.33333%; }
    .col-xl-8-24:before, .col-xl-8-24:after {
      content: " ";
      display: table; }
    .col-xl-8-24:after {
      clear: both; }

  .col-xl-9-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 37.5%; }
    .col-xl-9-24:before, .col-xl-9-24:after {
      content: " ";
      display: table; }
    .col-xl-9-24:after {
      clear: both; }

  .col-xl-10-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 41.66667%; }
    .col-xl-10-24:before, .col-xl-10-24:after {
      content: " ";
      display: table; }
    .col-xl-10-24:after {
      clear: both; }

  .col-xl-11-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 45.83333%; }
    .col-xl-11-24:before, .col-xl-11-24:after {
      content: " ";
      display: table; }
    .col-xl-11-24:after {
      clear: both; }

  .col-xl-12-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 50%; }
    .col-xl-12-24:before, .col-xl-12-24:after {
      content: " ";
      display: table; }
    .col-xl-12-24:after {
      clear: both; }

  .col-xl-13-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 54.16667%; }
    .col-xl-13-24:before, .col-xl-13-24:after {
      content: " ";
      display: table; }
    .col-xl-13-24:after {
      clear: both; }

  .col-xl-14-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 58.33333%; }
    .col-xl-14-24:before, .col-xl-14-24:after {
      content: " ";
      display: table; }
    .col-xl-14-24:after {
      clear: both; }

  .col-xl-15-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 62.5%; }
    .col-xl-15-24:before, .col-xl-15-24:after {
      content: " ";
      display: table; }
    .col-xl-15-24:after {
      clear: both; }

  .col-xl-16-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 66.66667%; }
    .col-xl-16-24:before, .col-xl-16-24:after {
      content: " ";
      display: table; }
    .col-xl-16-24:after {
      clear: both; }

  .col-xl-17-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 70.83333%; }
    .col-xl-17-24:before, .col-xl-17-24:after {
      content: " ";
      display: table; }
    .col-xl-17-24:after {
      clear: both; }

  .col-xl-18-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 75%; }
    .col-xl-18-24:before, .col-xl-18-24:after {
      content: " ";
      display: table; }
    .col-xl-18-24:after {
      clear: both; }

  .col-xl-19-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 79.16667%; }
    .col-xl-19-24:before, .col-xl-19-24:after {
      content: " ";
      display: table; }
    .col-xl-19-24:after {
      clear: both; }

  .col-xl-20-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 83.33333%; }
    .col-xl-20-24:before, .col-xl-20-24:after {
      content: " ";
      display: table; }
    .col-xl-20-24:after {
      clear: both; }

  .col-xl-21-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 87.5%; }
    .col-xl-21-24:before, .col-xl-21-24:after {
      content: " ";
      display: table; }
    .col-xl-21-24:after {
      clear: both; }

  .col-xl-22-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 91.66667%; }
    .col-xl-22-24:before, .col-xl-22-24:after {
      content: " ";
      display: table; }
    .col-xl-22-24:after {
      clear: both; }

  .col-xl-23-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 95.83333%; }
    .col-xl-23-24:before, .col-xl-23-24:after {
      content: " ";
      display: table; }
    .col-xl-23-24:after {
      clear: both; }

  .col-xl-24-24 {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    width: 100%; }
    .col-xl-24-24:before, .col-xl-24-24:after {
      content: " ";
      display: table; }
    .col-xl-24-24:after {
      clear: both; }

  .container {
    width: 960px; } }
#wrapper {
  padding: 20px 20px;
  padding-bottom: 100px; }
  #wrapper:before, #wrapper:after {
    content: " ";
    display: table; }
  #wrapper:after {
    clear: both; }

#header {
  text-align: center; }
  #header h1, #header h2, #header h3 {
    line-height: 1; }

#usps {
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px; }

.box {
  text-align: center;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #C5C5C5;
  background: #fff;
  padding: 30px 40px;
  transition: transform 300ms ease-in, width 200ms ease-in, opacity 200ms ease-in; }
  .box p {
    margin-top: 0px;
    margin-bottom: 10px; }
    .box p:last-child {
      margin-bottom: 0; }
  .box:hover {
    background: #f2f2f2;
    cursor: pointer; }
  .box.fadeOut {
    opacity: 0; }
  .box h3 {
    margin-top: 0;
    margin-bottom: 5px;
    transition: all .3s;
    display: inline-block; }
  .box .full {
    text-align: left;
    display: none;
    padding-top: 30px; }
    .box .full.show {
      display: block; }

.button {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%; }
  .button span {
    display: inline-block;
    background: #DD4242;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    line-height: 1; }

.fine-print {
  font-size: 13px;
  color: #4d4d4d;
  line-height: 1.5; }

.inner-pad {
  padding: 0 70px; }

.tick-list li {
  padding-left: 50px;
  position: relative; }
.tick-list .tick {
  font-size: 2em;
  position: absolute;
  left: 0;
  line-height: 1;
  display: inline-block;
  color: #dd4242; }
.tick-list h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
  line-height: 1;
  color: #dd4242; }
.tick-list p {
  line-height: 1.5; }
